mixin header-line()
    .header-line.d-flex.justify-content-between.w-100.align-items-center
        div
            a(href="index.html#header").logo.circle-btn 
                img(src="img/logo.png", alt="")
            a(href="#").circle-btn.basket-btn
                img(src="img/basket.png", alt="")
        nav 
            ul 
                li 
                    a(href='index.html#products' data-section="products") Products
                li 
                    a(href='index.html#reviews' data-section="reviews") Reviews
                li 
                    a(href='index.html#faq' data-section="faq") FAQ
                li 
                    a(href='index.html#help' data-section="help") HELP CEnter    
        .burger

    

mixin product-card(img, name, price) 
    .product-card.col-sm-12.col-md-6.col-lg-4.d-flex.justify-content-center
        .product-card-content.d-flex.justify-content-center.relative
            div
                a(href="product-card.html").relative
                    img(src=img, alt='product-card')
                hr
                form(action="").product-card__info 
                    h3= name
                    p= price
                    button Buy

mixin reviews()
    .reviews.animate-bottom#reviews.block-hidden
        h2.text-center.title.animate-bottom.hidden REVIEWS
            span REVIEWS
        .relative
            .swiper.reviews-slider
                .swiper-wrapper
                    .swiper-slide
                        +review("Just bought the Ikonik account for 175 euro, and it’s legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!", "Max", "Africa", "Pink Lama", 4)
                    .swiper-slide
                        +review("Just bought the Ikonik account for 175 euro, and it’s legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!", "Max", "Africa", "Pink Lama", 4)
                    .swiper-slide
                        +review("Just bought the Ikonik account for 175 euro, and it’s legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!", "Max", "Africa", "Pink Lama", 4)
                    .swiper-slide
                        +review("Just bought the Ikonik account for 175 euro, and it’s legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!", "Max", "Africa", "Pink Lama", 4)
                    .swiper-slide
                        +review("Just bought the Ikonik account for 175 euro, and it’s legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!", "Max", "Africa", "Pink Lama", 4)
                    .swiper-slide
                        +review("Just bought the Ikonik account for 175 euro, and it’s legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!", "Max", "Africa", "Pink Lama", 4)

            .swiper-button-prev.prev-rev
            .swiper-button-next.next-rev

mixin review(text, author, location, skin, stars)
    .review.wrapper-sm
        .d-flex.justify-content-between 
            .rate.d-flex.justify-content-between 
                - for (let i = 0; i < 5; i++)
                    .rate-star(class=i < stars ? 'active' : '')
            .quotes 
                span “”
        p= text
        .d-flex.justify-content-between.align-items-center.flex-wrap
            .author 
                strong= author
                p= `From ${location}`
            p= `bot Guaranteed skin: ${skin} | Full Access`

mixin join-block()
    .marquee-lines.animate-bottom
        .header-content.black-bg
            .wrapper.h-100.relative

                    .col-8
                        .join-btn-container.d-flex.justify-content-center.align-items-center
                            div
                                a(href="#").button JOIN TELEGRAM
                                br
                                a(href="#").button JOIN DISCORD
                    .col-4
                        .hero-second
        .lines-top
            - for (let i = -1; i < 50; i++)
                .marquee-line(style=`top: ${i * 70}px;`)
                    if (i % 2 === 0)
                        - for (let j = 0; j < 40; j++)
                            span Join our community
                    else 
                        - for (let j = 0; j < 54; j++)
                            span Skin 
                                b Zone   

mixin faq()
    .faq.wrapper-sm.animate-bottom#faq
        h2.text-center.title.animate-bottom.hidden FAQ
            span FAQ

        #accordionFlushExample.accordion.accordion-flush.block-hidden
            .accordion-item
                h2.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                    | produkt warranty
                #flush-collapseOne.accordion-collapse.collapse(data-bs-parent='#accordionFlushExample')
                    .accordion-body
                        | Just bought the Ikonik account for 175 euro, and it's legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!
            .accordion-item
                h2.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                    | produkt warranty
                #flush-collapseTwo.accordion-collapse.collapse(data-bs-parent='#accordionFlushExample')
                    .accordion-body
                        |  Just bought the Ikonik account for 175 euro, and it's legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!
            .accordion-item
                h2.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
                    | produkt warranty
                #flush-collapseThree.accordion-collapse.collapse(data-bs-parent='#accordionFlushExample')
                    .accordion-body
                        |  Just bought the Ikonik account for 175 euro, and it's legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!
            .accordion-item
                h2.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseFour' aria-expanded='false' aria-controls='flush-collapseFour')
                    | produkt warranty
                #flush-collapseFour.accordion-collapse.collapse(data-bs-parent='#accordionFlushExample')
                    .accordion-body
                        |  Just bought the Ikonik account for 175 euro, and it's legit! I received around 220 skins, all just like they said. The whole process was super easy, and I'm really satisfied. Definitely recommend it to anyone looking for a good deal!
mixin help()
    .help.wrapper-sm.animate-bottom#help
        h2.text-center.title.animate-bottom.hidden Help CEnter
            span HELP CEnter 
        h3 sent message
        form(action="").block-hidden
            .form-part
                p 
                    label(for="name") Your Name
                input(type="text" id="name" name="userName" placeholder="Your name...").name-input
                p 
                    label(for="name") Your Email
                input(type="email" id="email" name="userEmail" placeholder="Your email...")  
            .form-part
                p 
                    label(for="name") Your Message
                input(id="message" name="message", type="text", placeholder="Your message...") 
            .d-flex.justify-content-center
                button(type="submit").button SEND
        h3.track track order
        form(action="").block-hidden
            .form-part
                p 
                    label(for="name") Your order number
                input(type="text" id="name" name="userName" placeholder="Your order number...").name-input

            .d-flex.justify-content-center
                button(type="submit").button SEND

mixin advantages()
    .advantages.d-flex.flex-wrap.animate-bottom.block-hidden
        .advantage.animate-bottom.hidden
            .d-flex.align-items-center
                img.me-4(src="img/range.webp", alt="")
                h2 range
            p Take a look at what we have! Hundreds of accounts and the rarest items. You can buy an account and get random skins, or get an account with a guaranteed item...
        .advantage.animate-bottom.hidden
            .d-flex.align-items-center
                img.me-4(src="img/security.webp", alt="")
                h2 security
            p We guarantee the security of your funds and FORTNITE accounts. You will have the opportunity to track your order and contact us!
        .advantage.animate-bottom.hidden
            .d-flex.align-items-center
                img.me-4(src="img/reputation.webp", alt="")
                h2 reputation
            p We have sold  806 accounts, received more than 730 happy customers, and have a lot of feedback. We have a large community and value our reputation!


mixin basket()
    .basket 
        .basket-header.relative.text-center.relative 
            .close-basket
            .cart-header-content.d-flex.align-items-center.justify-content-center
                img(src="img/basket.png", alt="")
                h3.m-0 Your Cart
            .cross
        .basket-main
            .basket-products 
                form(action="").basket-product.d-flex.align-items-center
                    .basket-image.relative
                        .random
                            .product-card.w-100
                                .d-flex.justify-content-between.relative.w-100
                                    div.w-100
                                        .relative
                                            img(src="img/random.webp", alt='product-card')
                    .basket-description
                        .row.d-flex.align-items-center
                            .w-80
                                strong Guaranteed skin: Pink Lama | Full Access
                                b $110
                            .w-20
                                button(type="submit") 
                                    img(src="img/basketIcon.png", alt="")
                hr
                form(action="").basket-product.d-flex.align-items-center
                    .basket-image.relative
                        .product-card.w-100
                            .d-flex.justify-content-between.relative.w-100
                                div.w-100
                                    .relative
                                        img(src="img/skinexample.webp", alt='product-card')
                    .basket-description
                        .row.d-flex.align-items-center
                            .w-80
                                strong Guaranteed skin: Pink Lama | Full Access
                                b $110
                            .w-20
                                button(type="submit") 
                                    img(src="img/basketIcon.png", alt="")
                hr
                form(action="").basket-product.d-flex.align-items-center
                    .basket-image.relative
                        .random
                            .product-card.w-100
                                .d-flex.justify-content-between.relative.w-100
                                    div.w-100
                                        .relative
                                            img(src="img/random.webp", alt='product-card')
                    .basket-description
                        .row.d-flex.align-items-center
                            .w-80
                                strong Guaranteed skin: Pink Lama | Full Access
                                b $110
                            .w-20
                                button(type="submit") 
                                    img(src="img/basketIcon.png", alt="")
                hr
                form(action="").basket-product.d-flex.align-items-center
                    .basket-image.relative
                        .product-card.w-100
                            .d-flex.justify-content-between.relative.w-100
                                div.w-100
                                    .relative
                                        img(src="img/skinexample.webp", alt='product-card')
                    .basket-description
                        .row.d-flex.align-items-center
                            .w-80
                                strong Guaranteed skin: Pink Lama | Full Access
                                b $110
                            .w-20
                                button(type="submit") 
                                    img(src="img/basketIcon.png", alt="")
                hr
                form(action="").basket-product.d-flex.align-items-center
                    .basket-image.relative
                        .random
                            .product-card.w-100
                                .d-flex.justify-content-between.relative.w-100
                                    div.w-100
                                        .relative
                                            img(src="img/random.webp", alt='product-card')
                    .basket-description
                        .row.d-flex.align-items-center
                            .w-80
                                strong Guaranteed skin: Pink Lama | Full Access
                                b $110
                            .w-20
                                button(type="submit") 
                                    img(src="img/basketIcon.png", alt="")
                hr
                form(action="").basket-product.d-flex.align-items-center
                    .basket-image.relative
                        .product-card.w-100
                            .d-flex.justify-content-between.relative.w-100
                                div.w-100
                                    .relative
                                        img(src="img/skinexample.webp", alt='product-card')
                    .basket-description
                        .row.d-flex.align-items-center
                            .w-80
                                strong Guaranteed skin: Pink Lama | Full Access
                                b $110
                            .w-20
                                button(type="submit") 
                                    img(src="img/basketIcon.png", alt="")

        hr.opacity-1
        form(action="").basket-footer.text-center
            p Total: 
                span $120

            button(type="submit").button Back to shopping

            button(type="submit").button Check out

mixin footer()
    footer
        .wrapper.d-flex.justify-content-between.align-items-center.footer-content
            .payment-systems
                img(src="img/coinpayments.png", alt="")
                img(src="img/webmoney.png", alt="")
            p Fortnite is a registered trademark of Epic Games, Inc. ©
            .payment-systems
                img(src="img/paypal.png", alt="")
                img(src="img/visamastercard.png", alt="")
        .pay-platforms.swiper.payment-slider
            .swiper-wrapper
                .swiper-slide
                    img(src="img/visamastercard.png", alt="")
                .swiper-slide
                    img(src="img/paypal.png", alt="")
                .swiper-slide
                    img(src="img/coinpayments.png", alt="")
                .swiper-slide
                    img(src="img/webmoney.png", alt="")
                .swiper-slide
                    img(src="img/visamastercard.png", alt="")
                .swiper-slide
                    img(src="img/paypal.png", alt="")
                .swiper-slide
                    img(src="img/coinpayments.png", alt="")
                .swiper-slide
                    img(src="img/webmoney.png", alt="")

